@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: light;
  }
  body {
    color: black;
    background: white;
  }
}

.card {
  @apply mb-5 block rounded-lg border border-gray-200 shadow-md;
}

.product-item {
  border-radius: 16px;
}

.product-item img {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.slug-product {
  border-radius: 16px;
}

.product-item:hover {
  filter: drop-shadow(0 2px 5px rgba(0,0,0,.25));
}

.primary-button {
  @apply rounded bg-lime-500 py-2 px-4 shadow outline-none hover:bg-lime-600 active:bg-lime-600 text-white
}

.default-button {
  @apply rounded bg-gray-100 py-2 px-4 text-black shadow outline-none hover:bg-gray-200 active:bg-gray-300;
}

.color-gray {
  color: #707070;
}

.color-gray-second {
  color: #3f3f40;
}

.color-gray:hover, 
.color-gray-second:hover {
  color: black
}

input,
select,
textarea {
  @apply rounded border p-2 outline-none ring-indigo-300 focus:ring
}

.dropdown-link {
  @apply flex p-2 hover:bg-gray-200;
}